.Toolbar{
    height: 56px;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    background-color: #757b8d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    box-sizing: border-box;
    z-index: 90;
}

.Toolbar nav{
    height: 100%;

}

.nav-icon{
    font-size: 1.5rem;
    cursor: pointer;
}

.nav-cart{
    position: relative;
}

.cart-item{
    background: var(--primaryColor);
    color: var(--mainWhite);
    font-size: 0.85rem;
    position: absolute;
    top: -8px;
    right: -8px;
    padding: 0 5px;
    border-radius: 50%;
}