.NavigationItem{
    margin: 0;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    align-items: center;

}

.NaviagtionItem a{
    color: white;
    text-decoration: none;
    height: 100%;
    padding: 16px 10px;
    border-bottom: 4px solid transparent;
    box-sizing: border-box;
    display: block;
}

.NaviagtionItem a:hover,
.NaviagtionItem a:active,
.NaviagtionItem a.active{
    background-color: #856456;
    color: white;
}