.container{
    width:380px;
}   

.card {
    box-shadow: 7px 5px 0px 0px rgba(151,171,184,0.32);
    transition: var(--mainTransition);
    height: 80%;
  }
  .card:hover {
    box-shadow: 6px 5px 29px 0px rgba(65,156,105,1);
    cursor: pointer;
  }
  .card-img-bottom {
    transition: var(--mainTransition);
  }
  .card:hover .card-img-bottom {
    transform: scale(0.9);
    opacity: 0.2;
  }
  .img-container {
    position: relative;
    display: flex;
  }
  .product-icons {
    transition: var(--mainTransition);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
  }
  .icon {
    font-size: 2.5rem;
    margin: 1rem;
    padding: 0.5rem;
    color: var(--primaryColor);
    background: var(--mainBlack);
    border-radius: 0.5rem;
  }
  .card:hover .product-icons {
    opacity: 1;
  }
  .card-body {
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
  }


